.header {

    background-color:#0f172a;
    color: #38bdf8;
    text-align: center;
    font-size: xx-large;
    padding: 15px;
    border-radius: 12px ;
    border: 12px absolute;
    box-shadow: 0 , 10,25 rgb(63, 178, 245);
    margin-top: auto;

}